cloudpickle==3.0.0
gitdb==4.0.11
GitPython==3.1.43
ipython==8.37.0
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
lifelines==0.30.0
lightning-utilities==0.11.9
llvmlite==0.42.0
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp310-cp310-linux_x86_64.whl#sha256=fc2732718bc9e06a7b702492cb4f5afffe9671083930452d894377bf563464a3
pandas==2.2.3
parse==1.20.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
python-dateutil==2.9.0.post0
python-etcd==0.4.5
pytorch-ignite==0.5.0.post2
pytorch-lightning==1.6.3
simpleitk==2.5.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
torch==2.2.2
torch_cluster==1.6.3+pt22cu121
torch_geometric==2.5.3
torch_scatter==2.1.2+pt22cu121
torch_sparse==0.6.18+pt22cu121
torchaudio==2.1.0
torchelastic==0.2.2
torchmetrics==1.6.1
torchvision==0.16.0
wandb==0.19.1
zipp==3.18.1
